div {
    margin-block: 5px;
    border-radius: 10px;
    /* border: 2px solid black; */
}

.textsize30 {
    font-size: 30px; 
    margin: 0 auto;
}

.main-box {
    display: flex; 
    flex-direction: row; 
    height: 100%; 
    width: 400px; 
    margin: 0 auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 50px;
    border-radius: 10px;
}